html {
    box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
    margin: auto;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../../assets/images/background_shop.png);
    background-repeat: repeat-y;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

/* header */
.header_container {
    padding: 0 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-top: 78px;
    font-size: 30px;
    line-height: 110%;
    color: #545454;
}

h1:hover {
    text-shadow: 0px 4px 3px rgba(105, 103, 103, 0.5);
}

.header_logo {
    margin-right: 40px;
}

.header_logo img{
    display: block;
    height: 150px;
}

/* main */
.main_container {
    display: flex;
    margin: 0 45px 50px 45px;
    padding-right: 0;
    justify-content: space-between;
}

/* book catalog , cart */
.book_catalog, .cart {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #545454 solid 1px;
    border-radius: 10px;
    padding: 40px 20px;
    background-color: rgba(240, 255, 255, 0.2);
}

.book_card {
    width: 65%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.cart .book_card {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.book_card img{
    display: block;
    width: 140px;
    height: 200px;
}

.cart .book_card img {
    width: 100px;
    height: 150px;
}

.about_book {
    margin-left: 20px;
    color: #292929;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
}

.cart .book_card .title {
    font-size: 14px;
}

.author {
    margin-top: 5px;
    font-size: 16px;
    font-style: italic;
}

.cart .book_card .author {
    font-size: 12px;

}

.price {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}

.button_more, .button_cart {
    margin-top: 10px;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background: #e7bfa1;
    font-weight: 400;
	font-size: 14px;
	color: #292929;
	cursor: pointer;
}

.button_more:hover, .button_cart:hover, .button_delete:hover {
    background: #FDDCC4;
    transition: all 0.5s ease-in;
}

#icon_delete {
    height: 25px;
}

.button_delete {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    border: none;
    border-radius: 5px;
}


/* modal window*/
.modal_card {
    padding: 0;
    display: none;
    background: #f5e7d2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 600px;
    min-height: 400px;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: #545454 solid 1px;
}

.modal_close {
    color: #545454;
    background-color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: Times, sans-serif;
    border-radius: 50%;
    border: #545454 solid 1px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.6s;
    box-sizing: content-box;
}

.modal_close:hover {
    color: cornsilk;
    border: none;
    background-color: #545454;
    transform: rotate(135deg);
}

.description {
    padding: 0 40px;
    text-align: justify;
}

.modal_card .author{
    margin-top: -70px;
    font-size: 18px;
}