html {
    box-sizing: border-box;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
    margin: auto;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../../assets/images/background_shop.png);
    background-repeat: repeat-y;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

/* header */
.header_container {
    padding: 0 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-top: 78px;
    font-size: 30px;
    line-height: 110%;
    color: #545454;
}

h1:hover {
    text-shadow: 0px 4px 3px rgba(105, 103, 103, 0.5);
}

.header_logo {
    margin-right: 40px;
}

.header_logo img{
    display: block;
    height: 150px;
}

/* form */
.form_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
}

form {
    width: 70%;
    padding: 30px;
    font-size: 16px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    border: #545454 solid 2px;
    border-radius: 5px;
    background-color: rgba(240, 255, 255, 0.2);
  }

.input-block {
    display: flex;
    flex-direction: column;
}

input {
    height: 20px;
    width: 160px;
    border-radius: 5px;
}

span {
    color: red;
    font-size: 12px;
}

.pay_option, .gift_option {
    height: 12px;
    width: 12px;
}

input:invalid:required {
    border: 2px solid red;
  }
  
input:valid {
    border: 1px solid black;
}

label, .input_block p {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}

#submit {
    margin-top: 10px;
    width: 160px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #e7bfa1;
    font-weight: 600;
	font-size: 14px;
	color: #292929;
	cursor: pointer;
}

#submit:hover {
    background-color: #FDDCC4;
    transition: all 0.5s ease-in;
}

#submit:disabled {
    cursor: auto;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

/* modal window*/
.modal_card {
    padding: 0;
    display: none;
    background: #f5e7d2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    z-index: 1;
    max-width: 500px;
    min-height: 300px;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: #545454 solid 1px;
}

.modal_close {
    color: #545454;
    background-color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: Times, sans-serif;
    border-radius: 50%;
    border: #545454 solid 1px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    transition: all 0.6s;
    box-sizing: content-box;
}

.modal_close:hover {
    color: cornsilk;
    border: none;
    background-color: #545454;
    transform: rotate(135deg);
}

.order_status {
    margin-top: -50px;
    font-weight: 500;
    font-size: 18px;
}

.icon_check {
    width: 52px;
    height: 52px;
}

.text {
    padding: 0 40px;
    text-align: justify;
}

.radio, .checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.radio label, .checkbox label {
    font-weight: normal;
    font-size: 12px;
}

fieldset {
    margin-top: 10px;
    border: #545454 solid 1px;
}

legend {
    font-size: 14px;
    font-weight: bold;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
}

h3 {
    align-items: center;
    font-size: 12px;
}

#total_count {
    align-items: center;
    font-size: 16px;
    color: #000;

}